html {
    background: #56524C;
}

body {
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.topHeader {
    width: 100%;
    height: 100px;
    background: #ebebeb;
}

.logo:before {
    position: absolute;
    top: 8px;
    left: 15px;
    content:url(images/logo_small.png)
}

.active {
    top: -35px;
}

.inactive{
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    transition: top 0.5s ease;
    top: -150px;
}

.inactive:hover {
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    transition: top 0.5s ease;
    top: -35px;
}

.firstIcon {
    position: absolute;
    left: 350px;
}

.secondIcon {
    position: absolute;
    left: 560px;
}

.thirdIcon {
    position: absolute;
    left: 770px;
}
    
.firstIcon:before {
    content:url(images/richlist_small.png)
}

.secondIcon:before {
    content:url(images/addressstats_small.png)
}

.thirdIcon:before {
    content:url(images/networkstats_small.png)
}

.inputBox {
    position: absolute;
    top: 240px;
    left: 10%;
    width: 80%;
    height: 40px;
    color: #CCCCCC;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
}

.richRank {
    position: absolute;
    top: 300px;
    left: 10%;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: bolder;
    font-variant: small-caps;
    min-width: 80%;
    max-width: 80%;
}

.wrapper:hover .rankRow, .wrapper:hover .amountRow {
    background: #E28420;
}

.wrapper:hover .addressRow {
    background: #D59233;
}

.rankRow {
    float: left;
    background: #818181;
    width: 8%;
    height:25px;
    margin-bottom: 5px;
}

.addressRow {
    float: left;
    background: #646464;
    width: 50%;
    height: 25px;
    margin-bottom: 5px;
}

.amountRow {
    float: left;
    background: #818181;
    width: 42%;
    height: 25px;
    margin-bottom: 5px;
}

.bottomHeader {
    width: 100%;
    height: 20px;
    background: #ebebeb;
    position: fixed;
    bottom: 0px; 
}

@media (max-height: 550px) {
    
    .bottomHeader {
        position: absolute;
        top: 550px;
    }
}

@media (max-width: 1024px) {
    
    .firstIcon {
        left: 35%;
    }
    
    .secondIcon {
        left: 55%;
    }
    
    .thirdIcon {
        left: 75%;
    }

}

@media (min-height: 820px) {
    
    .topHeader {
        height: 150px;
    }

    .logo:before {
        top: 19px;
        left: 25px;
        content:url(images/logo.png)
    }

    .firstIcon {
        left: 470px;
    }

    .secondIcon {
        left: 720px;
    }

    .thirdIcon {
        left: 970px;
    }
    
    .firstIcon:before {
        content:url(images/richlist.png)
    }

    .secondIcon:before {
        content:url(images/addressstats.png)
    }

    .thirdIcon:before {
        content:url(images/networkstats.png)
    }
    
    .active {
        top: -3px;
    }
    
    .inactive:{
        top: -190px;
    }

    .inactive:hover {
        top: -3px;
    }

    .inputBox {
        top: 36%;
    }

    .richRank {
        top: 43%;
    }

    .bottomHeader {
        height: 3.0%;
    }
}