html {
	background: #56524C;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0px;
}

.topHeader {
	width: 100%;
	height: 150px;
	background: #ebebeb;
}

.logo {
	position: absolute;
	top: 19px;
	left: 25px;
}

.active {
	top: -3px;
}

.inactive{
	-webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    transition: top 1s ease;
	top: -190px;
}

.inactive:hover {
	-webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    transition: top 1s ease;
	top: -3px;
}

.firstIcon {
	position: absolute;
	left: 411px;
}

.secondIcon {
	position: absolute;
	left: 648px;
}

.thirdIcon {
	position: absolute;
	left: 887px;
}

.bottomHeader {
	width: 100%;
	height: 3.0%;
	background: #ebebeb;
	position: absolute;
	top: 97%;
	left: 0%;
}

